/* *** Global styling start *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* ? 1rem = 10px  */
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;

    background-color: #000000;
    color: #eee;
    margin: 0;
}

li {
    list-style: none;
    color: #eee;
}

a {
    text-decoration: none;
    color: #eee;

}

/* *** Global styling end *** */

/* header section */
header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 5rem;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 4rem;
}
